
/* -------------------- CSS BY [Patricia Lucas] -------------------------------------- */

/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Kavoon&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, figure, figcaption,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */

:root {
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;
    --header-font: "Kavoon", serif;
    --font-family: "Inter", sans-serif;
}


/* --------------------GLOBAL STYLES (mobile first/small) -------------------- */

body {
    font-family: var(--font-family);
    background-color: var(--purple);
    color: var(--white);
    line-height: 1.5;
    padding-bottom: 50px;
}

h1, h2 {
    font-family: var(--header-font);
}

h3, h4 {
    font-family: var(--font-family);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    color: var(--yellow);
}

h4 {
    font-size: 1.15em;
    color: var(--purple);
    margin: 10px 0;
}

h4 p{
    font-size: 1.15em;
    color: var(--dark-gray);
    text-align:left;
    width: 100%;
    padding: 20px;
}

p {
    font-family: var(--font-family);
}

/* -------------------- HEADER -------------------- */
header {
    position: relative;
    background-color: var(--lavender);
    text-align: center;
    padding: 20px 20px 20px; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    max-width: 1280px;
    margin: 0 auto 30px;
}

header h1 {
    background-color: var(--lavender);
    color: var(--white);
    display: inline-block;
    padding: 15px 40px;
    border-radius: 15px;
    margin: 0;
    z-index: 2; 
    position: relative;
}

.subheader {
    background-color: var(--pink);
    color: var(--white);
    font-style: italic;
    padding: 10px 10px 10px;
    border-radius: 30px;
    position: absolute;
    bottom: -35px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    max-width:  1280px;
    z-index: -1; 
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}


/* -------------------- MENU NAV -------------------- */
nav{
    display:flex;
    flex-direction: column;
    margin:4px;
    padding:3px;
    background-color: var(--yellow);
    border-radius:0 0 10px 10px;
    position: fixed;
    top:0px;
    right:0px; 
    text-transform: uppercase;
    z-index: 2;
}

nav h2{
    font-family: var(--font-family);
    font-style: italic;
    color: var(--dark-gray);
    font-size: 1.5em;
}

nav>ul{
    display:none;
}

/* -------------------- SERVICES -------------------- */
#services{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:1em;
    padding:1em;
    margin-top:2em;
}

/* -------------------- ONE-ON-ONE -------------------- */

.our-services{
    grid-column: 1/2;
    margin-top: 1.5em;
}

.one-on-one{
    grid-column: 1/2;
    padding:1em;
}

.personal{
    grid-column: 1/2;
    background-color: var(--white);
    color: var(--dark-gray);
    padding:1em;
    border-radius: 20px 20px 20px 20px;
    min-height: 400px;
 }

.career{
    grid-column: 1/2;
    background-color: var(--white);
    color: var(--dark-gray);
    padding:1em;
    border-radius: 20px 20px 20px 20px;
}

.relationship{
    grid-column: 1/2;
    background-color: var(--white);
    color: var(--dark-gray);
    padding:1em;
    border-radius: 20px 20px 20px 20px;
}

/* -------------------- GROUP -------------------- */

.group{
    grid-column: 1/2;
    padding:1em;
}

.support{
    grid-column: 1/2;
    background-color: var(--white);
    color: var(--dark-gray);
    padding:1em;
    border-radius:20px 20px 20px 20px;
}

.focus{
    grid-column: 1/2;
    background-color: var(--white);
    color: var(--dark-gray);
    padding:1em;
    border-radius:20px 20px 20px 20px;
}

/* -------------------- WORKSHOPS -------------------- */

.workshops{
    grid-column: 1/2;
    padding:1em;
}

.interactive{
    grid-column: 1/2;
    background-color: var(--white);
    color: var(--dark-gray);
    padding:1em;
    border-radius:20px 20px 20px 20px;
}

/* -------------------- FLEXIBLE -------------------- */

.online{
    grid-column: 1/2;
    padding:1em;
}

.flexible{
    background-color: var(--white);
    color: var(--dark-gray);
    padding:1em;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 10px;
}


/* -------------------- WHY CHOOSE US -------------------- */
#why-choose-us {
    background-color: var(--pink);
    padding: 20px;
}

#why-choose-us ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0;
    margin-top: 15px;
}

#why-choose-us li.personal {
    background-color: var(--teal);
    color: var(--dark-gray);
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 10px;
    padding:2em;
}

#why-choose-us li.proven {
    background-color: var(--lavender);
    color: var(--dark-gray);
    grid-column:2/3;
    grid-row:1/2;
    border-radius: 10px;
    padding:2em;
}

#why-choose-us li.supportive {
    background-color: var(--yellow);
    color: var(--dark-gray);
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 10px;
    padding:2em;
}

#why-choose-us li.flexible {
    background-color: var(--white);
    color: var(--dark-gray);
    grid-column:2/3;
    grid-row:2/3;
    border-radius: 10px;
    padding:2em;
}


/* -------------------- PRICING -------------------- */
#pricing {
    background-color: var(--purple);
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 30px auto;
    border-radius: 30px;
}

table {
    width: 100%;
    margin: 15px 0;
    border-collapse: collapse;
    background-color: var(--white);
    color: var(--dark-gray);
}

td {
    padding: 10px;
    border: 1px solid var(--dark-gray);
    text-align: left;
}

/* -------------------- CONTACT -------------------- */
#contact {
    background-color: var(--pink);
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    max-width: 1200px;
    margin: 30px auto;
}

.schedule-button {
    background-color: var(--white);
    color: var(--dark-gray);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

/* -------------------- FOOTER -------------------- */
footer {
    background-color: var(--lavender);
    padding: 20px;
    text-align: center;
    border-radius: 0 0 20px 20px;
    margin-top: 30px;
}

/* -------------------- MEDIA QUERIES -------------------- */
@media (min-width: 620px) {

    nav h2{
        display:none;
    }
    
    nav ul{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        column-gap: 3px;
        }
    
    nav a{
        color:var(--dark-gray);
        padding:5px;
        text-decoration: none;
    }
    
    nav a:hover{
        color:var(--dark-gray);
    }

    #why-choose-us ul {
        grid-template-columns: repeat(4, 1fr);
    }


    /* ------------------- */

    #services{
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap:1em;
    }

    .personal{
        grid-column:1/2;
        background-color: var(--white);
        padding:1em;
        border-radius: 10px;
     }
    
    .career{
        grid-column:2/3;
        background-color: var(--white);
        padding:1em;
        border-radius: 10px;
    }
    
    .relationship{
        grid-column:1/span 3;
        grid-auto-flow: column;
        background-color: var(--white);
        padding:1em;
        border-radius: 10px;
    }

    /* ------------------- */

    .group{
        padding:1.5em;
    }
    
    .support{
        grid-column:1/2;
        background-color: var(--white);
        padding:1.15em;
        border-radius: 10px;
    }
    
    .focus{
        grid-column:2/3;
        background-color: var(--white);
        padding:1.15em;
        border-radius: 10px;
    }

     /* ------------------- */

     .workshops{
        padding:1.5em;
    }
    
    .interactive{
        grid-column:1/span 3;
        grid-auto-flow: column;
        background-color: var(--white);
        padding:1em;
        border-radius: 10px;
    }
    
     /* ------------------- */
    
    .online{
        padding:1.5em;
    }
    
    .flexible{
        grid-column:1/span 3;
        grid-auto-flow: column;
        background-color: var(--white);
        padding:1em;
        border-radius: 10px;
    }

    #why-choose-us ul {
        grid-template-columns: repeat(4, 1fr);
    }

    
}

/* --------------------950px-------------------- */

@media (min-width: 950px) {
    #services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .service {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .service img {
        width: 60px;
    }

    table {
        width: 80%;
        margin: 0 auto;
    }
}

/* --------------------950px-------------------- */

@media (min-width: 1280px) {
    #services {
        grid-template-columns: repeat(4, 1fr);
    }
}